@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


nav p{

color: rgb(78, 71, 255);
font-family: Inter;
font-size: 34px;
font-weight: 900;
text-align: left;
margin-left: 120px;

}

.btn-primary{
    height: 48px;
    width: 132px;
    border-radius: 10px;
    background: rgb(78, 71, 255);
    color: rgb(255, 255, 255);
    font-family: Raleway;
     font-size: 13px;
    font-weight: 700;
     text-align: center;
     margin-right: 120px;
     border: none;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.banner p{
color: rgb(37, 36, 50);
font-family: Raleway;
font-size: 65px;
font-weight: 700;
text-align: center;
margin-right: 220px;
margin-left: 220px;
}

.banner-button{
    display: flex;
    justify-content: center;
}

.hero{
    margin: 0 auto;
    max-width: 1440px;
    background-image: url('../Assets/Hero-bg.png');
    background-size: cover;
    padding-bottom: 145px;
}

.title{
color: rgb(37, 36, 50);
font-family: Raleway;
font-size: 42px;
font-weight: 700;
text-align: left;
display: block;
margin-bottom: 30px;
}

.subtitle{
    color: rgba(37, 36, 50, 0.5);
font-family: Raleway;
font-size: 24px;
font-weight: 400;
text-align: left;
display: block;
margin-bottom: 30px;
}

.btn-action{
    width: 229px;
    height: 48px;
    padding: 12px 36px 12px 36px;
    border-radius: 10px;
    background: rgb(78, 71, 255);
    color: rgb(255, 255, 255);
    font-family: Raleway;
    font-size: 16px;
     font-weight: 700;
     text-align: center;
     border: none;
}

.action-img img{
    border-radius: 48px;
}

.action-container{
    display: flex;
    justify-content: center;
    gap: 220px;
    
}
.action{
    margin-top: 120px;
}

.users-figure{
    color: rgb(78, 71, 255);
font-family: Inter;
font-size: 80px;
font-weight: 700;
text-align: center;
display: block;
margin-bottom: 0;
}

.figure-details{
    color: rgba(0, 0, 0, 0.5);
font-family: Inter;
font-size: 20px;
font-weight: 400;
text-align: center;
display: block;
margin-top: 0;
}

.users-title{
    color: rgb(37, 36, 50);
font-family: Raleway;
font-size: 38px;
font-weight: 700;
text-align: center;
display: block;
margin-bottom: 0;
}

.users-container{
       display: flex;
       gap: 155px;
       justify-content: center;
       align-items: center;
}

.users{

    border-radius: 24px;
background: rgba(78, 71, 255, 0.1);
padding: 50px 80px 50px 80px;
max-width: 1440px;
margin: 120px auto;
}